.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db
build/
sz/.editorconfig
sz/.gitattributes
sz/.gitignore
sz/.stylelintrc
sz/gulpfile.js
sz/package-lock.json
sz/package.json
