<!DOCTYPE html>
<html lang="en">
<head>
    <title>Components | Form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="../pages/css/styles.css">
</head>
<body>
    <div class="content">
        <section class="section--fullpage bg--blue">
            <div class="section__wrapper">
                <div class="section__block--center">
                    <div class="block-text--center">
                        <div class="hl--4">Text field examples</div>
                    </div>
                    <form>
                        <p class="st--1">Usual input</p>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                        </div>
                        <p class="st--1">Button</p>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                    <div class="form__button button--primary">Button</div>
                                </div>
                            </div>
                        </div>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                    <div class="form__button button--primary">Button</div>
                                </div>
                            </div>
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                    <div class="form__button button--primary">Button</div>
                                </div>
                            </div>
                        </div>
                        <p class="st--1">Label</p>
                        <div class="form__line">
                            <div class="form__block">
                                <label>Label</label>
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__line">
                            <div class="form__block">
                                <label>Label</label>
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                            <div class="form__block">
                                <label>Label</label>
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                        </div>
                        <p class="st--1">Messages</p>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                    <div class="form__button button--primary">Button</div>
                                </div>
                                <div class="form__msg--attach">
                                    <i class="form__msg-icon material-icons">attachment</i>
                                    <div class="form__msg-text">Attached-file.name</div>
                                    <i class="form__msg-icon--action material-icons">delete</i>
                                </div>
                                <div class="form__msg--attach">
                                    <i class="form__msg-icon material-icons">attachment</i>
                                    <div class="form__msg-text">Attached-file.name</div>
                                    <i class="form__msg-icon--action material-icons">delete</i>
                                </div>
                            </div>
                        </div>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                                <div class="form__msg--help">
                                    <div class="form__msg-text">Helper text</div>
                                </div>
                            </div>
                        </div>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                                <div class="form__msg--error">
                                    <i class="form__msg-icon material-icons">error</i>
                                    <div class="form__msg-text">Error text</div>
                                </div>
                            </div>
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                                <div class="form__msg--success">
                                    <i class="form__msg-icon material-icons">check_circle</i>
                                    <div class="form__msg-text">Success text</div>
                                </div>
                            </div>
                        </div>
                        <p class="st--1">Special input (phone)</p>
                        <div class="form__line">
                            <div class="form__block">
                                <div class="form__row--phone">
                                    <select class="country">
                                        <option>+1</option>
                                        <option>Item 2</option>
                                        <option>Item 3</option>
                                    </select>
                                    <input class="code" type="text" placeholder="Code">
                                    <input class="number" type="text" placeholder="Number">
                                </div>
                            </div>
                        </div>
                        <p class="st--1">Leading icon</p>
                        <div class="form__line--img">
                            <img class="form__img" src="../pages/img/icon__circle.svg" alt=""/>
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__line--img">
                            <img class="form__img" src="../pages/img/icon__circle.svg" alt=""/>
                            <div class="form__block">
                                <label>Label</label>
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__line--img">
                            <img class="form__img" src="../pages/img/icon__circle.svg" alt=""/>
                            <div class="form__block">
                                <label>Label</label>
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                            <div class="form__block">
                                <label>Label</label>
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                </div>
                            </div>
                        </div>
                        <div class="form__line--img">
                            <img class="form__img" src="../pages/img/icon__circle.svg" alt=""/>
                            <div class="form__block">
                                <div class="form__row">
                                    <input type="text" placeholder="Placeholder"/>
                                    <div class="form__button button--primary">Button</div>
                                </div>
                                <div class="form__msg--attach">
                                    <i class="form__msg-icon material-icons">attachment</i>
                                    <div class="form__msg-text">Attached-file.name</div>
                                    <i class="form__msg-icon--action material-icons">delete</i>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </div>
</body>
</html>